<section class="gray-bg small-padding">
    <div class="container">
       <div class="row">
          <!-- services-item -->
          <div class="col-md-6">
             <div class="services-item fl-wrap">
                <h4>{% if title_1 %} {{ _(title_1) }} {% endif %} <span><img src="/assets/antoryum_gayrimenkul/images/loader.png" width="25px" /></span></h4>
                <p> {% if text_1 %} {{ _(text_1) }} {% endif %}</p>
             </div>
          </div>
          <!-- services-item  end-->
          <!-- services-item -->
          <div class="col-md-6">
             <div class="services-item fl-wrap">
                <h4>{% if title_2 %} {{ _(title_2) }} {% endif %} <span><img src="/assets/antoryum_gayrimenkul/images/loader.png" width="25px" /></span></h4>
                <p> {% if text_2 %} {{ _(text_2) }} {% endif %}</p>
             </div>
          </div>
          <!-- services-item  end-->		
       </div>
    </div>
 </section>
 <!-- section end-->